EXPO_PUBLIC_SUPABASE_URL=https://vlixlhllzfbsgziudwoc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsaXhsaGxsemZic2d6aXVkd29jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NTIwNDEsImV4cCI6MjA4ODMyODA0MX0.iRsInkACbaUPqSqDnB16nx6pllC6oEhHUg-eCOsZfmg
